 <div id="stickyribbonportfolio" class="stickyribbon">
 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="" ui-sref = 'home'>JNKM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ui-sref='home'>HOME</a></li>
        <li><a href="#"> ABOUT US</a></li>
        <li class="active"><a href="" ui-sref= 'portfolio'>PORTFOLIO</a></li>
        <li><a href="#">SERVICES</a></li>        
        <li><a href="#">BLOG </a></li>      
        <li><a href="#">CONTACT</a></li>
      </ul>
       
    </div>
  </div>
</nav>
     
     

    
    
 <section class="project-location parallax">
 
 <div class="container-fluid">
  <div class="row">
 
<div class="col-md-6 ">
<h1>PROJECT NAME<br>
& LOCATION</h1>
<div class="h1-underline"></div>

<p class="mar-top-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum tortor magna, a sollicitudin nisl lobortis nec. Ut accumsan felis non dolor semper dapibus. Quisque sit amet lorem augue. Nunc congue malesuada erat vel malesuada. Vestibulum consectetur malesuada elit sit amet cursus. Maecenas mattis, leo id luctus cursus, nulla nulla consequat augue, molestie iaculis nunc elit cursus augue. Etiam efficitur elementum dolor nec efficitur. In blandit et quam eget venenatis. Mauris aliquam pretium nisi, eu dapibus risus tempor sit amet. Etiam pellentesque lectus tristique urna tincidunt sagittis. Ut suscipit tincidunt lorem eget viverra. Proin eget imperdiet lorem. Nunc vehicula, mi id vestibulum viverra, quam ligula sagittis mi, vitae dignissim tortor ligula ac felis.</p>

<a href="#">CLICK HERE FOR MORE.</a>

<div class="mar-top-50 mar-btm-100"><a href="#" class="download-cat trs"><div>VISIT THE LINK TO SEE MORE</div></a></div>
 <div class="clearfix"></div>
</div>

 
 </div>
 </div>
 </section>
    
   
 <section class="project-qoute">
 
 <div class="container-fluid">
 <div class="row">
 
 <h2 class="inner-sub-title-head mar-top-50">“PROJECT QUOTE AND  SOME<br>
INSPIATIONAL TEXT HERE”</h2>
 <h3 class="sub-title-head-sub">Recent Projects and Ongoing Work </h3>
 
 
 
</div>

 <div class="row"> 
 <div class="col-md-4 col-sm-4 qoute-boxs wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
<div class="row"><img src="images/qoute01.jpg" class="trs img-responsive"></div>
 </div>
  
 
 
 
  <div class="col-md-4 col-sm-4 qoute-boxs wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
 <div class="row"><img src="images/qoute02.jpg" class="trs img-responsive"></div>
 </div>
 
  <div class="col-md-4 col-sm-4 qoute-boxs wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
<div class="row"><img src="images/qoute01.jpg" class="trs img-responsive"></div>
 </div>
 
 
 
 
 </div>
 
 
 <div class="row"> 
 <div class="col-md-6 col-sm-6 mar-top-30 mar-btm-30">
 <p class="normal-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum tortor magna, a sollicitudin nisl lobortis nec. Ut accumsan felis non dolor semper dapibus. Quisque sit amet lorem augue. Nunc congue malesuada erat vel malesuada. Vestibulum consectetur malesuada elit sit amet cursus. Maecenas mattis, leo id luctus cursus, nulla nulla consequat augue, molestie iaculis nunc elit cursus augue. Etiam efficitur elementum dolor nec efficitur. In blandit et quam eget venenatis. Mauris aliquam pretium nisi, eu dapibus risus tempor sit amet. Etiam pellentesque lectus tristique urna tincidunt sagittis. Ut suscipit tincidunt lorem eget viverra. Proin eget imperdiet lorem. Nunc vehicula, mi id vestibulum viverra, quam ligula sagittis mi, vitae dignissim tortor ligula ac felis.</p>

<a href="#" class="normal-atag">CLICK HERE FOR MORE.</a>
 
 </div>

 <div class="col-md-6 col-sm-6 mar-btm-80 qoute-area">
 <h1>INFORMATION <br> TITLE AREA</h1>
 <div class="h1-underline"></div>
 
 </div> 
  
 </div>
 
  <div class="row mar-top-100"> 
 <div class="col-md-1 col-sm-1 counter mar-btm-20"> 
 <img src="images/views.jpg">
  </div>
  
   <div class="col-md-2 col-sm-2 mar-btm-20">
   <img src="images/fb-count.jpg">
  </div>
  
   <div class="col-md-4 col-sm-4 social-icons mar-btm-20">
   
   <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
   <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
   <a href="#" target="_blank"> <i class="fa fa-pinterest-p"></i> </a>
   <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
   <a href="#" target="_blank"><i class="fa fa-envelope"></i></a>
   <a href="#" target="_blank"><i class="fa fa-share-square-o"></i></a>
   
 
  
  </div>
 
 </div>

</div>

</section>
  
   
 <section class="design-group">
 
 <div class="container"> 
 <div class="row">
 
 <div class="col-md-8 mar-top-80">
 
 <div class="row group-details">
  	 <div class="col-md-4 col-sm-4">FIRM </div>
	 <div class="col-md-8 col-sm-8">JNKM DESIGN GROUP  </div>
 </div>
 
  <div class="row group-details">
  	 <div class="col-md-4 col-sm-4">TYPE </div>
	 <div class="col-md-8 col-sm-8">COMMERCIAL INTERIOR </div>
 </div>
 
  <div class="row group-details">
  	 <div class="col-md-4 col-sm-4">STATUS </div>
	 <div class="col-md-8 col-sm-8">BUILT</div>
 </div>

  <div class="row group-details">
  	 <div class="col-md-4 col-sm-4">YEAR </div>
	 <div class="col-md-8 col-sm-8">2014</div>
 </div>

  <div class="row group-details">
  	 <div class="col-md-4 col-sm-4">SIZE </div>
	 <div class="col-md-8 col-sm-8">25,000 sqft</div>
 </div>
 
 
 </div>

 <div class="col-md-4">
 
 <div class="design-groupimg wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.0s">
 <img src="images/design-group-img.jpg" class="img-responsive" width="100%">
 </div>
 
<div class="row">
 <div class="col-md-6 col-sm-6 mar-top-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
<img src="images/cam-eye.png" class="img-responsive">
 </div>
 
 <div class="col-md-6 col-sm-6 mar-top-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
<p class="p-white-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum tortor magna, a sollicitudin nisl lobortis nec. Ut accumsan felis non dolor semper dapibus. Quisque sit amet lorem augue. Nunc congue malesuada erat vel malesuada. Vestibulum consectetur malesuada elit sit amet cursus.  </p>

<a href="#" class="normal-atag-white">CLICK HERE FOR MORE.</a>

 </div>

</div>

 
 </div>
  
 </div>
 </div>
 </section>
    
    
 <section class="video-section">
 
 <div class="container-fluid"> 
 <div class="row">
 
 <div class="col-md-6">
 <div class="row video-left-bg">
 <a href="#" class="center-block text-center"><img src="images/video-symbol.png"></a>
 
 
 <div class="clearfix"></div>
 </div>
 </div>
 
  <div class="col-md-6 video-right-bg parallax">
  
  <div class="video-right-in">
<h2 class="inner-sub-title-head">“PROJECT QUOTE AND  SOME<br>
INSPIATIONAL TEXT HERE””</h2>

<h3 class="sub-title-head-sub-black">THE NAME OF THE PERSON</h3> 

<p class="normal-text mar-top-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum tortor magna, a sollicitudin nisl lobortis nec. Ut accumsan felis non dolor semper dapibus. Quisque sit amet lorem augue. Nunc congue malesuada erat vel malesuada. Vestibulum consectetur malesuada elit sit amet cursus. Maecenas mattis, leo id luctus cursus, nulla nulla consequat augue, molestie iaculis nunc elit cursus augue. Etiam efficitur elementum dolor nec efficitur. In blandit et quam eget venenatis. Mauris aliquam pretium nisi, eu dapibus risus tempor sit amet. Etiam pellentesque lectus tristique urna tincidunt sagittis. Ut suscipit tincidunt lorem eget viverra. Proin eget imperdiet lorem. Nunc vehicula, mi id vestibulum viverra, quam ligula sagittis mi, vitae dignissim tortor ligula ac felis.</p>

<div class="text-center"><a href="#" class="watch-video-btn trs">WATCH THE VIDEO</a></div>

 </div>
 
 </div>
 
 
 </div>
 </div>
 
 </section>
    
    
    
 <section class="product-feature-outer">

<div class="product-feature"> 
 <div class="container-fluid">

<div class="row">
<div class="col-md-6 col-md-offset-6 mar-top-150">

<div class="back-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
<h2>“PRODUCT FEATURE<br>
OR HIGHLIGHT SUPPLIER”</h2> 
<h3 class="sub-title-head-sub">www.supplierpage.com</h3>

</div>

<div class="col-md-7">
<div class="row supllied wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
<img src="images/josh.jpg" class="pull-left">
<div class="supllied-in pull-left">
<span>Supplied by<br>
<P>JOSH NELSON, Bdes</P></span>



</div>
</div>
 
 </div>
 
 
 </div>
 
 </div>
 
 </div>
 </div>
 
 
 </section>
 
 
  <section class="product-qoute-outer">
   <div class="product-qoute">
  
  <div class="container-fluid">
  <div class="row">
  
  <div class=" col-md-offset-5 col-md-7 product-qoute-right">
   
  <div class="video-right-in wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
<h2 class="inner-sub-title-head">“PROJECT QUOTE AND  SOME<br>
INSPIATIONAL TEXT HERE””</h2>

<h3 class="sub-title-head-sub-black">THE NAME OF THE PERSON</h3> 

<p class="normal-text mar-top-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum tortor magna, a sollicitudin nisl lobortis nec. Ut accumsan felis non dolor semper dapibus. Quisque sit amet lorem augue. Nunc congue malesuada erat vel malesuada. Vestibulum consectetur malesuada elit sit amet cursus. Maecenas mattis, leo id luctus cursus, nulla nulla consequat augue, molestie iaculis nunc elit cursus augue. Etiam efficitur elementum dolor nec efficitur. In blandit et quam eget venenatis.</p>

<div class="text-center"><a href="#" class="watch-video-btn trs">WATCH THE VIDEO</a></div>

 </div>
 </div>
 
 </div>
 
 </div>
 
  
  </div>
  
  
  </section>
  
  
<section class="projects-outer"> 

<div class="container-fluid">
<div class="row">

<div class="col-md-7">

<div class="row">
<div class="col-md-7 col-sm-7  col-xs-7">
<div class="row">
 <div class="img-zoom"><img src="images/project-01.jpg" ></div>
</div>
</div>
<div class="col-md-5 col-sm-5  col-xs-5">
<div class="row">
 <div class="img-zoom"><img src="images/project-02.jpg"></div>
</div>
</div>

</div>

<div class="row">
<div class="col-md-7 col-sm-7">
<div class="row">
 <div class="img-zoom"><img src="images/project-03.jpg" class="img-responsive"></div>
</div>
</div>
<div class="col-md-5 col-sm-5">
<div class="row">

<div class="col-md-6 col-sm-6 name-project trs">
<p>THE NAME <br>
OF THE  <br>
PROJECT</p>

<div class="row"> <div class="img-zoom"><img src="images/project-04.jpg"></div></div>
</div>


<div class="col-md-6 col-sm-6">
<div class="row"> <div class="img-zoom"><img src="images/project-05.jpg" class="img-responsive"></div></div>
</div>
 

</div>
</div>

</div>

</div>
<div class="col-md-5 ">


<div class="row next-project">
<a href="#"><h2 class="trs">NEXT  <br>
PROJECT</h2></a>
</div>

</div>
 
 
 </div>
 
 </div>
 </section>




 
<script src="js/smoothscroll.js"></script>    
<script src="js/parallax.js"></script>

   
   
   
<script type="text/javascript" src="js/wow.js"></script>
<script src="js/common.js"></script> 